<br />

<!--注销原评论内容-->
<% /* %>
<% if (post.comments) {%>
<% post.comments.forEach(function (comment, index) { %>
<p>
    <img src="<%= comment.head %>" class="l_head" />
    <a href="<%= comment.website %>">
        <%= comment.name %>
    </a>
    <span class="info"> 回复于 <%= comment.time %></span>
</p>
<p><%- comment.content %></p>
<% }) %>
<% } %>
<form method="post" action="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
    <% if (user) { %>
    姓名：<input type="text" name="name" value="<%= user.name %>" /><br />
    邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
    网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br />
    <% } else { %>
    姓名：<input type="text" name="name" /><br />
    邮箱：<input type="text" name="email" /><br />
    网址：<input type="text" name="website" value="http://" /><br/>
    <% } %>
    <br />
    <textarea name="content" rows="5" cols="80"></textarea><br />
    <input type="submit" value="留言" />
</form>

<% */ %>
<!--/注销原评论内容-->

<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="<%= post._id %>" data-title="<%= post.title %>" data-url="/p/<%= post._id %>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"localblog"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->